name: Sync Ads Files
on:
  schedule:
    - cron: '0 0 * * *' # Ежедневно в 00:00 UTC
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
          fetch-depth: 0

      - name: Download files
        run: |
          mkdir -p data/ads
          ls -la data/ads
          curl -sSL -o data/ads/category-ads \
            https://raw.githubusercontent.com/hydraponique/roscomvpn-geosite/refs/heads/master/data/category-ads
          curl -sSL -o data/ads/twitch-ads \
            https://raw.githubusercontent.com/hydraponique/roscomvpn-geosite/refs/heads/master/data/twitch-ads

      - name: Commit and push if changed
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add data/ads/category-ads data/ads/twitch-ads
          git diff --quiet && git diff --staged --quiet || (git commit -m "chore: update ads files" && git push)